starlette==0.13.4
streamlit==1.11.1
coronanlp==0.0.2
pandas==1.0.3
pydantic==1.7.4
plac==0.9.6
ibm_cloud_sdk_core==1.5.1
toml==0.10.1
uvicorn==0.11.7
numpy==1.18.4
faiss==1.6.3
ibm_watson==4.5.0
pydub==0.24.1
graphviz==0.15
requests==2.25.1
torch==1.6.0
spacy==2.3.2
fastapi==0.63.0
