ibm_watson==4.5.0
spacy==2.2.4
pydantic==1.6.1
pandas==1.0.3
starlette==0.13.4
uvicorn==0.11.6
toml==0.10.1
pydub==0.24.1
corona_nlp==0.0.2
plac==0.9.6
ibm_cloud_sdk_core==1.5.1
numpy==1.18.4
requests==2.24.0
faiss==1.6.3
streamlit==0.62.0
fastapi==0.60.1
